# Introduction

In the last tutorial, we learned how to select relevant data out of a DataFrame or Series. Plucking the right data out of our data representation is critical to getting work done, as we demonstrated in the exercises.

However, the data does not always come out of memory in the format we want it in right out of the bat. Sometimes we have to do some more work ourselves to reformat it for the task at hand.  This tutorial will cover different operations we can apply to our data to get the input "just right".

In [1]:

import pandas as pd
pd.set_option('max_rows', 5)
import numpy as np
df = pd.read_csv("../Datasets/PakistanDroneAttacksWithTemp Ver 9 (October 19, 2017).csv", encoding='cp1252')

In [2]:
df

,S#,Date,Time,Location,City,Province,No of Strike,Al-Qaeda,Taliban,Civilians Min,...,Injured Min,Injured Max,Women/Children,Special Mention (Site),Comments,References,Longitude,Latitude,Temperature(C),Temperature(F)
0,1.0,"Friday, June 18, 2004",22:00,Near Wana,south Waziristan,FATA,1.0,NaN,1.0,0.0,...,NaN,NaN,N,Blast occured in courtyard of the house of lon...,Village in Wana,http://archives.dawn.com/2004/06/19/top1.htm,69.9000,33.0333,28.475,83.255
1,2.0,"Sunday, May 08, 2005",23:30,Mir Ali (Near Afghan Border),North Waziristan,FATA,1.0,1.0,NaN,0.0,...,NaN,NaN,N,Drone struck a car driven by local warlord- ki...,Civilian killied was Samiullah Khan who was a ...,http://www.msnbc.msn.com/id/7847008/,70.1455,32.9746,11.475,52.655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403,405.0,"Monday, October 16, 2017",NaN,Zero-point,Lower Kurram Agency,FATA,4.0,NaN,5.0,NaN,...,NaN,NaN,N,At least five suspected militants were killed ...,Conflict of Report: Foreign media reported tha...,http://www.thesundaily.my/news/2017/10/18/deat...,NaN,NaN,NaN,NaN
404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,662.0,1304.0,...,402.0,1329.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Summary functions

Pandas provides many simple "summary functions" (not an official name) which restructure the data in some useful way. For example, consider the `describe()` method:

In [3]:
df.Time.describe()

count       173
unique       76
top       10:00
freq         10
Name: Time, dtype: object

This method generates a high-level summary of the attributes of the given column. It is type-aware, meaning that its output changes based on the data type of the input. The output above only makes sense for numerical data; for string data here's what we get:

In [4]:
df.Location.describe()

count            402
unique           302
top       Datta Khel
freq              14
Name: Location, dtype: object

If you want to get some particular simple summary statistic about a column in a DataFrame or a Series, there is usually a helpful pandas function that makes it happen. 

For example, to see the mean, we can use the `mean()` function:

In [5]:
df['Temperature(C)'].mean()

16.01928927680796

To see a list of unique values we can use the `unique()` function:

In [6]:
df['Temperature(C)'].unique()

array([ 28.475,  11.475,   7.08 ,   0.535,  10.025,  18.12 ,  25.77 ,
        24.395,  15.325,  13.79 ,   2.18 ,  15.575,  18.32 ,  16.21 ,
        27.24 ,  27.975,  27.47 ,  26.855,  25.555,  25.235,  24.175,
        24.255,  24.8  ,  22.645,  20.55 ,  25.485,  22.615,  24.64 ,
        24.585,  19.255,  22.595,  15.875,  16.47 ,  15.24 ,  17.5  ,
        16.685,   8.815,  16.985,   8.75 ,  13.46 ,  12.465,   7.   ,
         7.655,   5.69 ,   6.505,   9.365,   3.055,  20.   ,  14.21 ,
        14.8  ,  18.315,  12.34 ,  13.   ,  17.275,  15.57 ,  11.065,
        20.995,  23.6  ,  18.865,  22.4  ,  22.33 ,  18.075,  17.425,
        21.67 ,  20.64 ,  25.65 ,  26.815,  23.24 ,  26.62 ,  26.395,
        25.44 ,  23.805,  24.155,  21.295,  20.8  ,  22.705,  24.19 ,
        22.16 ,  22.43 ,  14.825,  11.66 ,  19.145,  14.735,   5.025,
         8.23 ,   3.95 ,   3.005,   3.53 ,   2.82 ,   3.46 ,   5.87 ,
         4.855,   6.26 ,   4.175,   3.58 ,   3.43 ,   5.63 ,   5.57 ,
         6.12 ,   1.82 ,   1.06 ,   3.185,  -1.24 ,   0.68 ,   5.18 ,
         8.915,   9.855,  12.135,  15.3  ,  16.74 ,  18.455,  16.27 ,
        14.455,  15.145,  17.72 ,  18.55 ,  19.385,  18.235,  18.735,
        21.625,  18.065,  18.98 ,  29.415,  23.385,  21.705,  20.61 ,
        22.465,  26.965,  24.845,  26.11 ,  24.28 ,  25.66 ,  24.5  ,
        25.625,  26.055,  24.505,  27.45 ,  26.91 ,  23.485,  25.25 ,
        23.825,  23.44 ,  22.25 ,  22.35 ,  18.59 ,  20.065,  16.995,
        18.38 ,  17.895,  19.375,  18.23 ,  19.395,  18.97 ,  19.685,
        21.1  ,  19.29 ,  18.955,  18.62 ,  17.995,  18.905,  20.49 ,
        18.81 ,  13.275,  13.355,  14.045,  14.475,  13.19 ,  12.24 ,
         9.645,   9.64 ,  10.02 ,   9.525,   8.435,   8.01 ,   6.815,
         5.08 ,   6.135,   7.24 ,  10.745,   9.22 ,   3.085,   2.635,
         4.345,   4.69 ,   5.225,   5.12 ,   3.15 ,   2.275,   1.835,
         1.79 ,   1.475,   3.325,   4.665,   5.21 ,   9.12 ,  13.235,
        13.28 ,  15.48 ,  15.56 ,  15.38 ,  14.78 ,  17.75 ,  19.87 ,
        21.745,  21.975,  20.5  ,  24.33 ,  24.59 ,  23.49 ,  20.72 ,
        24.755,  26.5  ,  26.675,  27.95 ,  26.975,  26.935,  24.455,
        25.   ,  25.39 ,  25.4  ,  24.605,  25.725,  25.14 ,  22.96 ,
        22.725,  26.36 ,  24.065,  18.985,  21.325,  19.91 ,  14.685,
        13.905,  13.77 ,  12.505,  12.125,  11.345,  11.97 ,   0.305,
        13.95 ,   2.885,  -3.435,  -3.585,  -1.61 ,  -1.67 ,   3.66 ,
         4.17 ,  18.035,  14.565,  19.69 ,  20.055,  17.54 ,  22.44 ,
        23.795,  20.78 ,  22.495,  23.33 ,  25.605,  27.415,  26.555,
        25.67 ,  25.585,  26.385,  24.815,  24.26 ,  18.245,  19.07 ,
        18.645,  15.345,  15.905,  11.365,   5.07 ,   5.28 ,   8.69 ,
         6.555,   3.705,  -3.165,   0.875,  -0.76 ,   0.57 ,   4.315,
         2.08 ,   4.005,  12.25 ,  15.895,  16.305,  20.885,  22.025,
        25.04 ,  23.675,  23.565,  14.82 ,  14.375,  15.42 ,  10.095,
        16.715,   3.675,  28.98 ,  28.845,  29.485,  29.29 ,  27.875,
        29.425,  27.12 ,  25.42 ,  25.31 ,  24.915,  23.835,  20.58 ,
        15.785,  13.695,  12.325,  12.64 ,  13.405,  12.99 ,  11.16 ,
         9.53 ,  12.65 ,   7.23 ,   8.08 ,   7.975,   9.67 ,  12.6  ,
        18.15 ,  25.75 ,  25.165,  26.98 ,  25.495,  15.99 ,   7.94 ,
         6.755,   7.18 ,  -7.765, -14.155,   8.745,  23.   ,  29.   ,
        26.   ,     nan])

In [7]:
df['Time'].unique()

array(['22:00', '23:30', nan, '3:00', '10:30', '4:00', '2:00', '15:35',
       '20:00', '20:30', '19:00', '16:30', '15:00', '17:00', '9:00',
       '10:20', '5:30', '16:00', '11:30', '10:00', '1:45', '4:30', '7:45',
       '22:30', '19:45', '20:15', '8:00', '6:30', '15:50', '23:45',
       '6:05', '23:00', '19:30', '3:40', '1:30', '6:20', '3:50', '15:30',
       '8:50', '11:00', '18:30', '17:30', '3:30', '14:00', '21:20',
       '12:45', '21:00', '21:30', '6:00', '12:00', '7:30', '9:30', '7:00',
       '6:15', '17:40', '17:35', '14:45', '17:45', '23:15', '5:45',
       '18:00', '22:45', '6:45', '7:15', '8:30', '3:15', '20:45', '13:30',
       '16:40', '12:15', '2:30', '1:00', '5:00', '4:45', '17:50', '12:30',
       '15:45'], dtype=object)

To see a list of unique values _and_ how often they occur in the dataset, we can use the `value_counts()` method:

In [8]:
df.Time.value_counts()

10:00    10
12:00     7
         ..
17:40     1
15:45     1
Name: Time, Length: 76, dtype: int64