![Bismillah.png](Images/Bismillah.png)

# Python Fundamentals
Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. Python’s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.

Now, Press **Windows key** type jupyter Notebook and then press Enter.
Type the following in the cell.
```
print("Bismillah") # Outputs Bismillah
```

### Variables and Operators

<h1> Value </h1>

A value is one of the basic things a program works with, like a letter or a number. The values could be 1,2, "Hello world".

In [1]:
print(4) #prints integer 4

4

If you are not sure about value, the python interpreter can tell you.

In [2]:
type("Hello, World!") #prints type

str

In [170]:
type(3.2) #prints type

float

### Numbers/Operators

In [52]:
print(20+30) #addition
print(50-30) # subtraction
print(3*2) #multiplication
print(6//3) # division
print(3**2) #exponent

50
20
6
2
9

In [4]:
2 + 2

4

In [5]:
50 - 5*6

20

In [6]:
(50 - 5*6) / 4

5.0

In [7]:
8 / 5  # division always returns a floating point number

1.6

Explaination:
The integer numbers (e.g. 2, 4, 20) have type int, the ones with a fractional part (e.g. 5.0, 1.6) have type float. We will see more about numeric types later in the tutorial.

**Division (/) always returns a float. To do floor division and get an integer result (discarding any fractional result) you can use the // operator; to calculate the remainder you can use %:**

In [9]:
17 / 3  # classic division returns a float

5.666666666666667

In [10]:
17 // 3  # floor division discards the fractional part

5

In [11]:
17 % 3  # the % operator returns the remainder of the division

2

In [12]:
5 * 3 + 2  # floored quotient * divisor + remainder

17

With Python, it is possible to use the ** operator to calculate powers:

In [13]:
5 ** 2  # 5 squared

25

In [14]:
2 ** 7  # 2 to the power of 7

128

There is full support for floating point; operators with mixed type operands convert the integer operand to floating point:

In [17]:
4 * 3.75 - 1

14.0

<h2> Order of Operations </h2>
When more than one operator appears in an expression, the order of evaluation depends on the rules of precedence. For mathematical operators, Python follows
mathematical convention. The acronym PEMDAS is a useful way to remember the rules.

- Paranthesis
- Exponent
- Multiplication
- Division
- Addition
- Subtraction

In [53]:
#Example
(1+1)**(5-2)

8

The last printed expression is assigned to the variable _. This means that when you are using Python
as a desk calculator, it is somewhat easier to continue calculations, for example:

In [19]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [20]:
price + _

113.0625

In [21]:
round(_, 2)

113.06

<h2> Realtional Operators </h2>

The operators " ==, !=, <, >, <=, >=" are in following examples:

In [54]:
x=5
print(x==4) # prints False
print(x>4) #prints True
print(x!=5) #prints False

False
True
False

<h2> Logical Operators </h2>

There are three logical operators: and, or, and not. The semantics (meaning) of these operators is similar to their meaning in English. For example,

In [55]:
x>0 and x<10 #is true only if x is greater than 0 and less than 10

True

In [56]:
(x%2 == 0) or (x%3 == 0)

False

In [57]:
17 and True #integer is treated as True

True

### Strings

Besides numbers, Python can also manipulate strings, which can be expressed in several ways. They can be enclosed in single quotes ('...') or double quotes ("...") with the same result 2. \ can be used to escape quotes:

In [22]:
'spam eggs'  # single quotes

'spam eggs'

In [24]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [25]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [26]:
'"Yes," they said.'

'"Yes," they said.'

In [27]:
"\"Yes,\" they said."

'"Yes," they said.'

In [28]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

The output string is enclosed in quotes and special characters are escaped with backslashes. While this might sometimes look different from the input (the enclosing quotes could change), the two strings are equivalent. The string is enclosed in double quotes if the string contains a single quote and no double quotes, otherwise it is enclosed in single quotes. The print() function produces a more readable output, by omitting the enclosing quotes and by printing escaped and special characters:

In [29]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [30]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [33]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [34]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

Exercise1:
If you don’t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r before the first quote:

- print('C:\some\name')  # here \n means newline!
- print(r'C:\some\name')  # note the r before the quote

Strings can be concatenated (glued together) with the + operator, and repeated with *:

In [35]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.

In [172]:
x ='py'
x + 'thon'

'python'

In [36]:
'Py' 'thon'

'Python'

Exercise2:This only works with two literals though, not with variables or expressions:
> prefix = 'Py'
> prefix 'thon'  # can't concatenate a variable and a string literal

> ('un' * 3) 'ium'

If you want to concatenate variables or a variable and a literal, use +:

> prefix + 'thon'

Strings can be indexed (subscripted), with the first character having index 0. There is no separate character type; a character is simply a string of size one:

In [37]:
word = 'Python'
print(word[0])  # character in position 0
print(word[5])  # character in position 5

P
n

Indices may also be negative numbers, to start counting from the right:

In [39]:
print(word[-1])  # last character
print(word[-2])  # second-last character
print(word[-6])

n
o
P

Note that since -0 is the same as 0, negative indices start from -1.

<h1>Variables </h1>

One of the most powerful features of a programming language is the ability to manipulate variables. A variable is a name that refers to a value.

An assignment statement creates new variables and gives them values:

In [48]:
name = "John"
age = 24

This example makes two assignments. To display the values, you can use print statement

In [49]:
print(name)
print(age)
print(type(name))
print(type(age))

John
24
<class 'str'>
<class 'int'>

The equal sign (=) is used to assign a value to a variable. Afterwards, no result is displayed before the next interactive prompt:

In [50]:
width = 20
height = 5 * 9
width * height

900

If a variable is not “defined” (assigned a value), trying to use it will give you an error:

In [51]:
n  # try to access an undefined variable

NameError: name 'n' is not defined

<h1> Condtional executions </h1>

In order to write useful programs, we almost always need the ability to check conditions and change the behavior of the program accordingly.

The simplest form is if statement:

In [58]:
x = 5

if x > 0:
    print("x is positive.")

x is positive.

In [59]:
if x < 0:
    pass #you can use pass for doing nothing.

<h1> Alternative Conditions</h1>

When we have two possibilites and the condition determines which one to execute. For example:

In [60]:
if x%2 == 0:
    print ("Even Number")
else:
    print("Odd Number")

Odd Number

<h1> Chained Conditions </h1>

When we have more than two possibilities. For example:

In [61]:
y = 5

if x > y:
    print ("X is greater than y")
elif x < y:
    print("X is less than Y")
else:
    print("X and Y are equal")

X and Y are equal

<h1>  Nested Conditions </h1>
One conditional can also be nested within another.

In [62]:
if x == y:
    print('x and y are equal')
else:
    if x < y:
        print('x is less than y')
    else:
        print('x is greater than y')

x and y are equal

# Loops
<h1> Iterations </h1>

<h2> Updating variables </h2>
A common pattern in assignment statements is an assignment statement that updates a variable, where the new value of the variable depends on the old.

In [63]:
x = 1
x = x+1   #increment
print (x)

x -= 1    #decrement
print(x)

#x++       #not allowed in python
#print(x)

2
1

<h2> While Loop </h2>

One form of iteration in Python is the while statement. Here is a simple program that counts down from five and then says “Blastoff!”.

In [174]:
x = 5
while x > 0:
    print(x)
    x = x - 1
print('Blastoff!')

5
4
3
2
1
Blastoff!

<h3> Breaking loop </h3>

Exit the loop when i is equal to 3.

In [65]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

<h3> Continue Statement </h3>

With the continue statement we can skip the current iteration, and continue with the next

In [66]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

<h2> For Loops </h2>

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string). The for loop does not require an indexing variable to set beforehand.

In [175]:
for i in range(5):
    print(i+i)

0
2
4
6
8

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [176]:
for x in range(2, 6,2): #value starting from 2 to 6 (excluding 6)
  print(x)

2
4

In [69]:
string = "Hello"
for s in string:
    print(s) #prints each character of string

H
e
l
l
o

In [179]:
fruits = ["apple","cherry" ,"banana" ]
for x in fruits:
  print(x)
  if x == "banana": #exits loop when x is banana
    break

apple
cherry
banana

In [178]:
fruits[0]

'apple'

In [71]:
for x in range(5):
  for y in range(2):
    print(x, y)

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1
4 0
4 1

<b>Emunerate</b>
Returns a tuple containing a count for every iteration (from start which defaults to 0) and the values obtained from iterating over sequence:

In [73]:
brothers = ['Ahsan', 'Anas', 'Osama', 'Ahmad', 'Muhammad', 'Hamza']
for index, brother in enumerate(brothers):
    print(index,brother)

0 Ahsan
1 Anas
2 Osama
3 Ahmad
4 Muhammad
5 Hamza

<h1> Functions </h1>

A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

In Python a function is defined using the <b>def</b> keyword:

In [180]:
def func():
  print("Its a function")

In [181]:
#calling a function
func()

Its a function

<b> Arguments </b>are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

In [76]:
def function(fname):
  print(fname + " Cena")

function("John")
function("Shawn")
function("Ryan")

John Cena
Shawn Cena
Ryan Cena

You can also send arguments with the key = value syntax.
This way the order of the arguments does not matter.

In [78]:
def function(child3, child2, child1):
  print("The youngest child is " + child3)

function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

<b> Builtin functions </b>

In [79]:
max([1,2,4,5]) #largest in list

5

In [80]:
min([1,2,4,5])

1

In [81]:
len("Hello") #length of string

5

In [82]:
int("10") #converts string 10 into integer

10

In [83]:
int("Hello")

ValueError: invalid literal for int() with base 10: 'Hello'

In [84]:
int(-2.3) #float into integer

-2

In [85]:
float(32) #integer into float

32.0

In [86]:
str(32) #int to string

'32'

<b>Maths function</b>
Python has module maths that provides mathematical functions

In [87]:
import math

In [88]:
print(math)

<module 'math' (built-in)>

In [89]:
 math.sqrt(4) / 2.0

1.0

You can use dir(module) to see all available methods/attributes.

In [92]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [94]:
help(math) #detailed

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

<h1> Lists </h1>

A list is a collection which is ordered and changeable. In Python, list is equivalent of an array, but is resizeable and can contain elements of different types.

In Python lists are written with square brackets. Lets create a list:

In [95]:
x = [2,4,6,8]
print(x)

[2, 4, 6, 8]

In [96]:
x[1] #prints second item

4

In [97]:
x[-1] #prints last item i.e. negative indexing

8

In [98]:
y = [1,3,5,7]

x+y #concatenates two list

[2, 4, 6, 8, 1, 3, 5, 7]

In [99]:
x*3 #repeats given times

[2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8]

A list can contain elements of different types. For example:

In [100]:
X = [2,4,2.6,"Hello"]

In [101]:
type(X[1])

int

In [102]:
type(X[2])

float

To add an entry at the end of list use method append()

In [103]:
X.append("World") #adds a new entry at the in the list

In [104]:
print(X)

[2, 4, 2.6, 'Hello', 'World']

To add an item at the specified index, use the insert() method:

In [106]:
X.insert(1,"Hi") #insert string "Hi" at second position

In [107]:
print(X)

[2, 'Hi', 4, 2.6, 'Hello', 'World']

The remove() method removes the specified item:

In [109]:
X.remove("World")

In [110]:
print(X)

[2, 'Hi', 4, 2.6, 'Hello']

In [111]:
len(X) #length of list

5

<b> Slicing </b>

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [112]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [113]:
print(thislist[:4]) #beginning to the 4th item

['apple', 'banana', 'cherry', 'orange']

In [114]:
print(thislist[4:]) #from 4th to end of list

['kiwi', 'melon', 'mango']

In [115]:
thislist[0] = "grapes" #changes 0th index i.e. apple to grapes

In [116]:
print(thislist)

['grapes', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

Iterating through a list

In [117]:
for fruit in thislist:
    if fruit == "kiwi":
        print("Kiwi available")

Kiwi available

A list can also contain <b>list of lists</b>. For example:

In [118]:
new_list = [[1,2,3,4],[2.0,3.0,4.0],["A","B","C","D"]]
new_list[2]

['A', 'B', 'C', 'D']

While indexing is used to obtain individual characters, slicing allows you to obtain substring:

In [119]:
word = 'Python'
print(word[0:2])  # characters from position 0 (included) to 2 (excluded)
print(word[2:5])  # characters from position 2 (included) to 5 (excluded)

Py
tho

Slice indices have useful defaults; an omitted first index defaults to zero, an omitted second index defaults to the size of the string being sliced.

In [120]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [121]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [122]:
word[-2:]  # characters from the second-last (included) to the end

'on'

Note how the start is always included, and the end always excluded. This makes sure that s[:i] + s[i:] is always equal to s:

In [123]:
word[:2] + word[2:]

'Python'

In [124]:
word[:4] + word[4:]

'Python'

The built-in function len() returns the length of a string:

In [125]:
s = 'abcdefghijklmnopqrstuvwxyz'
len(s)

26

Lists also support operations like concatenation:

In [126]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [127]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Assignment to slices is also possible, and this can even change the size of the list or clear it entirely:

In [128]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [129]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [130]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [131]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

<h1> Dictionaries </h1>

A dictionary is like a list, but more general. In a list, the index positions have to be integers; in a dictionary, the indices can be (almost) any type.
You can think of a dictionary as a mapping between a set of indices (which are
called keys) and a set of values. Each key maps to a value. The association of a
key and a value is called a key-value pair or sometimes an item </br>

Example: A dictionary is created by curly brackets {}.

In [132]:
myDict = {} #any empy dictionary
type(myDict)

dict

In [133]:
myDict = {'name':'john', 'age':22}
print(myDict)

{'name': 'john', 'age': 22}

<b>Accessing Items </b>
You can access the items of a dictionary by referring to its key name, inside square brackets:

In [134]:
myDict['name']

'john'

In [135]:
myDict['age']

22

There is also a method called get() that will give you the same result:

In [137]:
myDict.get("name")

'john'

In [138]:
myDict.get("age")

22

<b>Updating Values </b>
You can change the value of a specific item by referring to its key name:

In [139]:
myDict['age'] = 23

In [140]:
myDict['age']

23

you can also update using update method. Plus, it can also add another key-value in the dictionary too.

In [142]:
myDict.update({'age':24,'country':'USA'})

In [143]:
myDict

{'name': 'john', 'age': 24, 'country': 'USA'}

<b>Loop Through a Dictionary</b>

In [144]:
for x in myDict:
  print(x)      #prints keys

name
age
country

In [145]:
for x in myDict:
  print(myDict[x])

john
24
USA

In [146]:
#You can also use the values() method to return values of a dictionary:
for x in myDict.values():
  print(x)      #prints values

john
24
USA

In [147]:
#Loop through both keys and values, by using the items() method:
for x, y in myDict.items():
  print(x, y)

name john
age 24
country USA

<b> Check if Key Exists </b>

In [148]:
if 'DOB' in myDict:
    print("Keys found")
else:
    print("Key not found")

Key not found

<b>Adding Items</b>

In [149]:
myDict['DOB'] = 'Feb 26'

In [150]:
myDict['YOB'] = '1997'

In [151]:
myDict

{'name': 'john', 'age': 24, 'country': 'USA', 'DOB': 'Feb 26', 'YOB': '1997'}

<b> Removing Item </b>
The pop() method removes the item with the specified key name:

In [152]:
myDict.pop("YOB")

'1997'

In [153]:
myDict

{'name': 'john', 'age': 24, 'country': 'USA', 'DOB': 'Feb 26'}

In [154]:
myDict.popitem() #removes last inserted item

#Note: in versions before 3.7, a random item is removed instead)

('DOB', 'Feb 26')

In [155]:
myDict

{'name': 'john', 'age': 24, 'country': 'USA'}

The <b>del</b> keyword removes the item with the specified key name:

In [156]:
del myDict["age"]

In [157]:
myDict

{'name': 'john', 'country': 'USA'}

Make a <b>copy</b> of a dictionary with the copy() method:

In [159]:
newDict = myDict.copy()

In [160]:
newDict

{'name': 'john', 'country': 'USA'}

In [161]:
myDict

{'name': 'john', 'country': 'USA'}

<b> clear() </b> will epmty the dictionary and <b>del</b> keyword will delete the dictionary

In [162]:
newDict.clear()

In [163]:
newDict

{}

In [164]:
del newDict

In [165]:
newDict #wont print because dictionary has been deleted in above cell

NameError: name 'newDict' is not defined

<b> Nested Dictionaries </b>

In [166]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [167]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

Another way of creating nested dictionaries is to create three dictionaries separtely and then create one separately to contains them

In [168]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}
child4 = {
  "name" : "Ferrus",
  "year" : 2010
}

myfamily = {"child1" : child1,
            "child2" : child2,
            "child3" : child3,
            "child4" : child4
}

In [169]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011},
 'child4': {'name': 'Ferrus', 'year': 2010}}

# **For Programming Practice [Click Here](00_Programming_Practice.ipynb)**